@import url("https://use.typekit.net/hcn3xjs.css");

body {
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 20px;
  font-size: 14px;
  background-color: #F2F2F2;
  # color: #0D0C0C;
  color: #000;

  font-family: alwyn-new-rounded-web, arial;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: #F21D1D;
  font-family: bely-display,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
}

tr th, tr td {
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
}

tr th:first-child, tr td:first-child {
    max-width: 100px;
}

tr th:last-child, tr td:last-child {
    max-width: 30px;
}

table#myTable tr td:nth-child(1), table#myTable tr td:nth-child(2) {
    font-weight: 700;
}

table#myTable tr td:nth-child(3) {
    text-transform: capitalize;
}

table#myTable tr td:nth-child(5) {
    text-transform: lowercase;
}

/* Reduce vertical spacing */
 
div.dataTables_wrapper div.dataTables_info {
  padding-top: 10px;
}
 
table.dataTable.compact tbody th, table.dataTable.compact tbody td {
  padding: 5px 17px 4px 17px;
}
/* End Reduce vertical spacing */

div.dataTables_filter {
  margin-bottom: 5px;
}

div.dtsp-titleRow {
  display: none;
}

table {
  border: none;
}
table#myTable {
  border: none;
  background-color: #fff;
}

.dataTables_scrollHead table {
  background-color: #F21D1D;
  color: #fff;
}

.dtsp-searchCont input {
  font-weight: 700;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: none;
  background: none;
  color: #0D0C0C !important;
  font-weight: 700;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: none;
  background: none;
  color: #0D0C0C !important;
}
